<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sogating_app">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/loltingicon"
        android:label="롤팅"
        android:roundIcon="@mipmap/loltingicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sogating_App"
        android:usesCleartextTraffic="true">
        <activity
            android:name="Messenger.ChatActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="Messenger.ChatMainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- auth and login -->
        <activity
            android:name=".auth.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".auth.JoinActivity"
            android:exported="true" />
        <activity
            android:name=".auth.IntroActivity"
            android:exported="true" /> <!-- firebase service -->
        <service
            android:name=".Message.fcm.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- main and navigation -->
        <activity
            android:name=".MAIN.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Message.MyMsgActivity"
            android:exported="true"
            android:parentActivityName=".MAIN.MainActivity" />
        <activity
            android:name=".setting.PartnerActivity"
            android:exported="true"
            android:parentActivityName=".MAIN.MainActivity" />
        <activity
            android:name=".Message.MyLikeListActivity"
            android:exported="true"
            android:parentActivityName=".MAIN.MainActivity" />
        <activity
            android:name=".audio.VoiceChatActivity"
            android:exported="true"
            android:parentActivityName=".audio.VoiceChatActivity" />
        <activity
            android:name=".audio.CallActivity"
            android:exported="true"
            android:parentActivityName=".audio.CallActivity" />
        <activity
            android:name=".setting.MyPageActivity"
            android:exported="true"
            android:parentActivityName=".MAIN.MainActivity" />
        <activity
            android:name=".MAIN.MatchingActivity"
            android:exported="true"
            android:parentActivityName=".MAIN.MainActivity" />
        <activity
            android:name=".audio.MultiVoiceActivity"
            android:exported="true"
            android:stopWithTask="false"
            android:parentActivityName=".MAIN.MainActivity" />
        <activity
            android:name=".setting.SettingActivity"
            android:exported="true"
            android:parentActivityName=".setting.MyPageActivity" /> <!-- Kakao 로그인 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <!-- scheme-example: "kakao{NATIVE_APP_KEY}" -->
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_app_key2" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>